@font-face {
    font-family: "Poppins Regular";
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins Thin";
    src: url(fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url(fonts/Montserrat-SemiBold.ttf);
}

:root {
    /* Colors: */
    --cafe: #B3A494;
    --azul: #102543;
    --naranja: #EC671B;
    --grisoscuro: #E8EDEC;
    --grisclaro: #F5F5F5;
    --grismasoscuro: #707070;
    --unnamed-color-080808: #080808;
    /* Font/text values */
    --unnamed-font-family-poppins: Poppins;
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-13: 13px;
    --unnamed-font-size-15: 15px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-35: 35px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-38: 0.38px;
    --unnamed-line-spacing-20: 20px;
}

body {
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* Banner pagina */

header .banner {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 12vw;
    background-color: var(--grisclaro);
}

#lineader {
    grid-row: 1;
    grid-column: 1;
    padding-top: 5vw;
}

.linea-decorativa {
    border-top: 1px solid #C5C9C8;
    border-bottom: 1px solid #C5C9C8;
    height: 10px;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#lineaizq {
    grid-row: 1;
    grid-column: 3;
    padding-top: 5vw;
}

header .banner .logo {
    grid-row: 1;
    grid-column: 2;
    width: 10vw;
    align-self: center;
    justify-self: center;
}

/* Menu principal  */

#touch, #label-touch {
    display: none;
}

.menu-navegacion {
    display: grid;
    grid-template-columns: 5fr 0.8fr;
    grid-template-rows: 40px;
    background: var(--azul) 0% 0% no-repeat padding-box;
    background-color: var(--azul);
}

.nav-menu {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

.nav-menu ul li {
    display: inline-block;
}

/* Revisar */

.nav-menu ul li a:hover {
    display: inline-block;
    background-color: var(--azul);
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
    color: #EC671B;
}

.menu-navegacion .nav-menu a {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: var(--unnamed-font-family-poppins);
    font-size: 14px;
    color: white;
    align-self: center;
}

.div-btn-iniciar {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    align-self: center;
}

.btn-iniciar-sesion {
    background-color: var(--naranja);
    width: 12vw;
    height: 34px;
    border-radius: 8px;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px var(--azul);
    font-size: 1.1vw;
    text-decoration: none;
    font-family: "Montserrat SemiBold";
    color: white;
}

/* diseño responsivo menu  */

@media (max-width: 768px) {
    #touch {
        display: inline;
    }
    #label-touch {
        display: inline;
    }
    .nav-menu li a {
        text-decoration: none;
        color: var(--grismasoscuro);
        font-size: 1vw;
        font-family: Poppins Regular;
    }
    .nav-menu {
        width: 120px;
        background: var(--grismasoscuro);
        margin: 0;
        margin-left: 10px;
        z-index: 10;
        opacity: 0.9;
    }
    .nav-menu span {
        padding: 4px;
        background: var(--naranja);
        color: white;
        font-family: Poppins Regular;
        /* font-size: 15px; */
        font-size: 1.2em;
        cursor: pointer;
        display: block;
    }
    .nav-menu ul {
        margin-left: 0;
    }
    .nav-menu span::after {
        float: right;
        right: 10%;
    }
    .slide {
        clear: both;
        width: 100%;
        height: 0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }
    .slide li {
        padding: 5px;
    }
    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }
    #touch:checked+.slide {
        height: 140px;
    }
    .menu-navegacion .nav-menu li:first-child {
        margin-left: 0px;
    }
    .nav-menu ul li a:hover {
        display: inline-block;
        background: transparent;
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        align-self: center;
        color: #EC671B;
    }
}

/* Fotos portada */

.contenedor-portada {
    background: white 0% 0% no-repeat padding-box;
    border: 10px solid var(--grisclaro);
    box-shadow: 2px 2px 2px #00000029;
    opacity: 1;
    width: 100%;
    height: 35vw;
}

.portada {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 0.62fr 0.04fr 0.34fr;
    grid-template-rows: 28vw;
    margin-top: 1.8vw;
}

.contenedor-foto1 {
    grid-row: 1;
    grid-column: 1;
    box-shadow: 3px 3px 3px #A7A7A7FA;
    border-radius: 7px;
    opacity: 1;
    background-image: url(../Assets/Portada.jpg);
    background-size: 100% auto;
}

.contenedor-foto2 {
    grid-row: 1;
    grid-column: 3;
    box-shadow: 3px 3px 3px #A7A7A7FA;
    border-radius: 7px;
    opacity: 1;
    background-image: url(Assets/elmurcy__152686424_247423920219300_5804258818768295986_n.jpg);
    background-size: 100% auto;
}

/* Productos disponibles */

.contenedor-productosdisponibles {
    width: 100%;
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.productosdisponibles {
    background: var(--azul) 0% 0% no-repeat padding-box;
    border: 0.1px solid var(--grisoscuro);
    box-shadow: 0px 3px 6px #00000029;
    border: 0.3px solid #707070;
    border-radius: 7px;
    margin: 4%;
    height: 32vw;
}

.titulo-productosdisponibles {
    font-family: Poppins Bold;
    font-size: 2.4vw;
    color: var(--naranja);
    text-align: center;
    letter-spacing: 0px;
    color: #EC671B;
    opacity: 1;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.grid-productosdisponibles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 22vw 1vw;
    justify-items: center;
    column-gap: 10px;
    width: 100%;
}

.imagenpd {
    border: 1px solid var(--grisoscuro);
    width: 80%;
    grid-row: 1;
}

.grid-productosdisponibles .nombreproducto {
    display: inline-block;
    grid-row: 2;
    font-family: Poppins Regular;
    font-size: 1.6vw;
    color: var(--grisclaro)
}

/* articulos disponibles */

.contenedor-articulosdisponibles {
    width: 100%;
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 50px;
    height: auto;
}

.titulo-articulosdisponibles {
    font-family: Poppins Bold;
    font-size: 2.4vw;
    color: var(--grismasoscuro);
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.grid-articulosdisponibles {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw;
    grid-gap: 2%;
}

.imagenapd {
    /* border: 1px black solid; */
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw;
}

.fotodelarticulo {
    border: 1px var(--azul) solid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.contenidodelarticulo {
    border: 3px var(--naranja) solid;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tituloarticulo {
    font-family: Poppins Medium;
    display: inline-block;
    font-size: 1.2vw;
    color: var(--azul);
    text-align: left;
    margin-top: 2px;
    grid-row: 1;
    grid-column: 1;
}

.btnVermas {
    grid-row: 2;
    grid-column: 1;
    border: 2px var(--naranja) solid;
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    font-size: 1.3vw;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: Poppins Medium;
}

@media (max-width: 768px) {
    .grid-articulosdisponibles {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 3%;
        margin-right: 3%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2%;
    }
    .imagenapd {
        border: 1px black solid;
        display: grid;
        grid-row: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 7vw 7vw 7vw 8vw;
        padding: 20px;
    }
    .fotodelarticulo {
        border: 1px var(--azul) solid;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 60%;
        justify-self: center;
    }
    .contenidodelarticulo {
        border: 3px white solid;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 2px;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        display: grid;
        grid-template-rows: 1fr minmax(3vw, 5vw);
    }
    .tituloarticulo {
        font-family: Poppins Medium;
        display: inline-block;
        font-size: 2vw;
        color: var(--azul);
        text-align: center;
        margin-top: 2px;
        grid-row: 1;
        grid-column: 1;
    }
    .btnVermas {
        grid-row: 2;
        grid-column: 1;
        border: 2px var(--naranja) solid;
        width: 15vw;
        height: 4vw;
        border-radius: 8px;
        font-size: 1.3vw;
        -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: Poppins Medium;
    }
}

/* pie de pagina */

.piedepagina {
    width: 100%;
    background: var(--grismasoscuro) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr 1.2fr 0.1fr 1.2fr 0.1fr 1.5fr;
    grid-template-rows: 13vw;
}

#div-logo-footer {
    grid-row: 1;
    grid-column: 2;
    margin: 3px;
    align-self: center;
    justify-self: center;
    color: white;
}

.logo-footer-imagen {
    width: 100%;
}

#div-menu-footer {
    grid-row: 1;
    grid-column: 4;
    margin: 1px;
    font-size: 1vw;
    padding: 1vw;
    color: white;
}

#div-contacto-footer {
    grid-row: 1;
    grid-column: 6;
    margin: 1px;
    font-size: 1vw;
    padding: 1vw;
    color: white;
}

#div-subscripcion {
    grid-row: 1;
    grid-column: 8;
    margin: 1px;
    font-size: 5px;
    padding: 1vw;
    color: white;
}

#correosubcripcion {
    display: inline-block;
    width: 80%;
    height: 3vw;
    border-radius: 5px;
    margin-bottom: 2px;
    color: white;
    background-color: var(--grismasoscuro);
    border: 0.7px solid #F5F5F5;
}

footer h4 {
    font-size: 1.2vw;
    font-family: Montserrat SemiBold;
}

footer ul {
    padding-left: 15px;
}

#titulosub-footer {
    margin-bottom: 3px;
    font-family: Poppins Regular;
}

#btn-sub-footer {
    justify-content: center;
    height: 3vw;
    margin-left: 17%;
    border: 1px var(--naranja) solid;
    box-shadow: 0 0 6px var(--azul);
}

#btn-sub-footer label {
    font-size: 1.3vw;
    font-family: Poppins Regular;
    color: white;
    border: 1px solid var(--naranja);
}

footer li {
    display: inline-block;
    font-family: Poppins Regular;
    font-size: 0.9vw;
    width: 100%;
    color: white;
    padding-top: 0.2vw;
}

#div-menu-footer li a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none !important;
}

/*


page productos


*/

.contenedordeproductos-pageproductos {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1;
    border: 1px solid black;
}

/* filtro */

.contenedordeproductos-pageproductos .categorias {
    grid-column: 1;
    grid-row: 1;
    margin: 30px;
    background-color: var(--grismasoscuro);
    width: 180px;
    padding: 15px;
    padding-top: 5px;
    height: 34vh;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #0000001D;
    border-radius: 8px;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
}

/* lista de productos */

.productos-pageproductos {
    grid-column: 2;
    grid-row: 1;
    margin-top: 30px;
}

.label-categorias-pageproductos {
    display: inline-block;
    width: 100%;
    grid-column: 1;
    font-family: Poppins Regular;
    font-size: 13px;
}

.checkbox-categorias {
    grid-column: 2;
}

.categorias h2 {
    font-family: Poppins Bold;
    font-size: 22px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

/* Grid para productos */

.productos-pageproductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.unproducto-pageproductos {
    width: 220px;
    height: 320px;
    flex-basis: 20%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 0.2fr;
}

@media(max-width: 1333px) {
    .unproducto-pageproductos {
        flex-basis: 33.33%;
    }
}

@media(max-width: 1073px) {
    .unproducto-pageproductos {
        flex-basis: 33.33%;
    }
}

@media(max-width: 900px) {
    .unproducto-pageproductos {
        flex-basis: 50%;
    }
    .categorias {
        width: 100px !important;
    }
    .categorias h2 {
        font-size: 12px;
    }
    .label-categorias-pageproductos {
        font-size: 10px;
    }
    .fotoproducto-pageproducto {
        width: 150px !important;
        height: 190px !important;
    }
    .nombreproducto-pageproducto {
        width: 150px !important;
        height: 30px !important;
    }
}

@media(max-width: 768px) {
    .unproducto-pageproductos {
        flex-basis: 100%;
    }
}

.fotoproducto-pageproducto {
    grid-row: 1;
    border: 1px var(--grisclaro) solid;
    width: 190px;
    height: 230px;
    margin: auto;
    background-image: url(/Assets/Portada.jpg);
    background-size: 100% auto;
}

.nombreproducto-pageproducto {
    grid-row: 2;
    width: 190px;
    margin: auto;
    height: 40px;
    font-size: 18px;
    font-family: Poppins Regular;
    text-align: center;
}

.productos-pageproductos a {
    text-decoration: none;
    color: var(--azul);
}

/* 

Pagina un producto

*/

.titulo-pageunproducto {
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-family: Poppins Medium;
}

.informaciondelproducto-pageunproducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.celda-fotodelproducto-pageunproducto {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    width: 430px;
    height: 530px;
    margin: 2%;
    align-self: center;
    justify-self: center;
    border: 0.3px var(--grismasoscuro) solid;
    background-image: url(/Assets/chontaduro.jpg);
    background-size: auto;
    border-radius: 4px;
}

.descripciondelproducto-pageunproducto {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    margin: 2%;
    justify-self: left;
    width: 40vw;
    font-family: Poppins Regular;
    color: var(--grismasoscuro)
}

.descripciondelproducto-pageunproducto table {
    width: 100%;
}

.descripciondelproducto-pageunproducto th {
    width: auto;
    text-align: justify;
    vertical-align: top;
    font-size: 15px;
    padding: 9px;
}

.descripciondelproducto-pageunproducto td {
    width: 60%;
    text-align: left;
}

.descripciondelproducto-pageunproducto th:last-child {
    font-family: Poppins Thin;
    font-size: 13px;
}

@media(max-width: 768px) {
    .titulo-pageunproducto {
        font-size: 13px;
    }
    .celda-fotodelproducto-pageunproducto {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 60vw;
        height: 70vw;
        justify-self: center;
        vertical-align: top;
    }
    .celda-fotodelproducto-pageunproducto:last-child {
        width: auto;
    }
    .descripciondelproducto-pageunproducto {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 80%;
        justify-self: center;
    }
}

#main-unproducto .productosdisponibles {
    background-color: var(--grisoscuro);
    border: none;
    color: var(--azul);
}

#main-unproducto .imagenpd {
    border: 1px solid var(--azul);
}

/* 
pagina inicio de sesion

*/

.contenedor-pagesesion-naranja {
    background: var(--naranja) 0% 0% no-repeat padding-box;
    border: 1px solid var(--grisclaro);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 77px;
    opacity: 1;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor-pagesesion-interior {
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    border: 1px solid var(--grisclaro);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 77px;
    opacity: 1;
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.contenedor-formulario {
    font-size: 18px;
    font-family: Poppins Regular;
    width: 400px;
    margin: auto;
    margin-top: 60px;
}

.contenedor-formulario label, .contenedor-formulario a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--grismasoscuro);
}

#label-usuario-iniciar, #label-usuario-contraseña {
    margin: auto;
    width: 100%;
    background: white;
    border: 2px solid var(--cafe);
    border-radius: 6px;
    opacity: 0.3;
    height: 45px;
}

#label-usuario-iniciar {
    margin-bottom: 20px;
}

#link-recuperarContrasena {
    margin: auto;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-formulario [type=submit] {
    background: #EC671B 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    width: 180px;
    height: 55px;
    color: white;
    font-family: Montserrat SemiBold;
    box-shadow: 0px 3px 6px #00000029;
    align-items: center;
    border: none;
    box-shadow: 0 0 6px var(--azul);
}

.contenedor-boton-inciarsesion {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media(max-width: 768px) {
    .contenedor-pagesesion-naranja {
        width: 370px;
        height: 300px;
    }
    .contenedor-pagesesion-interior {
        width: 320px;
        height: 270px;
    }
    .contenedor-formulario {
        font-size: 14px;
        font-family: Poppins Regular;
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }
    #link-recuperarContrasena {
        font-size: 10px;
    }
    #label-usuario-iniciar, #label-usuario-contraseña {
        height: 40px;
    }
}

/* 

Page contacto
*/

.titulo-pagecontacto {
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-family: Poppins Medium;
}

.conetendor-pagecontacto {
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    font-family: Poppins Regular;
    font-size: 18px;
}

.conetendor-pagecontacto label {
    display: inline-block;
    width: 100%;
    color: var(--grismasoscuro);
    margin-bottom: 4px;
}

.input-formulario-contacto {
    display: inline-block;
    width: 100%;
    background: white;
    border: 2px solid var(--cafe);
    border-radius: 6px;
    opacity: 0.3;
    height: 45px;
    margin-bottom: 20px;
}

#mensaje-contacto {
    display: inline-block;
    width: 100%;
    background: white;
    border: 2px solid var(--cafe);
    border-radius: 6px;
    opacity: 0.3;
    height: 400px;
    margin-bottom: 20px;
    resize: none;
    overflow: scroll;
}

.conetendor-pagecontacto [type=submit] {
    background: #EC671B 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    width: 180px;
    height: 55px;
    color: white;
    font-family: Montserrat SemiBold;
    box-shadow: 0px 3px 6px #00000029;
    align-items: center;
    border: none;
    box-shadow: 0 0 6px var(--azul);
    margin-bottom: 30px;
}

.contenedor-boton-enviar-contacto {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media(max-width: 768px) {
    .conetendor-pagecontacto {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* 


Page articulos

*/

.titulo-pagearticulos {
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-family: Poppins Medium;
}

#pagearticulos a {
    text-decoration: none;
    color: black;
}

.unarticulo-pagearticulos {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 0.3fr;
    height: 250px;
    width: 70vw;
    margin: auto;
    margin-bottom: 70px;
}

.foto-unarticulo-pagearticulos {
    border: 1px solid var(--grismasoscuro);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(Assets/chontaduro.jpg);
    background-size: auto;
}

.contenido-unarticulo-pagearticulos {
    border: 2px solid var(--naranja);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.tituloarticulo-pagearticulos {
    display: inline-block;
    font-size: 25px;
    font-family: Poppins Medium;
}

.contenido-pagearticulo {
    font-size: 18px;
    font-family: Poppins Medium;
    color: black;
    text-align: justify;
}

@media(max-width: 768px) {
    .unarticulo-pagearticulos {
        height: 400px;
        width: 70vw;
    }
    .foto-unarticulo-pagearticulos {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .contenido-unarticulo-pagearticulos {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .tituloarticulo-pagearticulos {
        font-size: 15px;
        margin-top: 1px;
    }
    .contenido-pagearticulo {
        font-size: 12px;
        margin-top: 1px;
    }
}

/* 

page un articulo

*/

.contenedor-articuloprincipal {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

.titulo-pageunarticulo {
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-family: Poppins Medium;
}

.fotodelarticulo-pageunarticulo {
    background-image: url(/Assets/Portada.jpg);
    width: 100%;
    height: 35vw;
}

.contenedor-articuloprincipal h3 {
    font-size: 12px;
    font-family: Poppins Regular;
    text-align: center;
    color: var(--cafe);
}

.contenidodelarticulo-pageunarticulo {
    font-size: 22px;
    text-align: justify;
    font-family: Poppins Medium;
}

@media(max-width: 768px) {
    .contenidodelarticulo-pageunarticulo {
        font-size: 18px;
    }
    .titulo-pageunarticulo {
        font-size: 20px;
    }
}

/* 

Menu principal Administrador


*/

.menu-navegacion-admin {
    display: grid;
    grid-template-columns: 5fr 0.8fr;
    grid-template-rows: 40px;
    background: var(--azul) 0% 0% no-repeat padding-box;
    background-color: var(--azul);
}

.nav-menu-admin {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.nav-menu-admin ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

.nav-menu-admin ul li {
    display: inline-block;
}

.nav-menu-admin ul li a:hover {
    display: inline-block;
    background-color: var(--azul);
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
    color: #EC671B;
}

.menu-navegacion-admin .nav-menu-admin a {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: var(--unnamed-font-family-poppins);
    font-size: 14px;
    color: white;
    align-self: center;
}

.div-btn-cerrar-admin {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    align-self: center;
}

.btn-cerrar-sesion-admin {
    background-color: var(--naranja);
    width: 12vw;
    height: 34px;
    border-radius: 8px;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px var(--azul);
    font-size: 1.1vw;
    text-decoration: none;
    font-family: "Montserrat SemiBold";
    color: white;
}

/* 

page administrador

*/

.titulo-admin {
    text-align: center;
    color: var(--azul);
    font-size: 25px;
    font-family: Poppins Medium;
    margin-bottom: 10px;
}

#agregar-usuarios-admin .btn-cerrar-sesion-admin {
    margin: auto;
    width: 200px;
    height: 34px;
    background: var(--azul);
}

/* 

tabla de usuarios

*/

.tabla-administradordeusuarios, .tabla-administradordearticulos {
    width: 95%;
    margin: auto;
}

.table-tabla-administradordeusuarios, .table-tabla-administradordearticulos {
    font-family: Poppins Regular;
    border-collapse: collapse;
    border: 2px var(--naranja) solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 6px #00000029;
}

.table-tabla-administradordeusuarios thead, .table-tabla-administradordearticulos thead {
    background-color: var(--grismasoscuro);
    color: var(--grisclaro);
    font-size: 14px;
    letter-spacing: 1px;
    height: 30px;
}

.table-tabla-administradordeusuarios tbody, .table-tabla-administradordearticulos tbody {
    font-size: 12px;
    color: rgb(82, 80, 80);
}

.table-tabla-administradordeusuarios tbody th, .table-tabla-administradordearticulos tbody th {
    border: 1px var(--grisoscuro) solid;
}

.table-tabla-administradordeusuarios thead th:nth-child(1) {
    width: 10%;
}

.table-tabla-administradordeusuarios thead th:nth-child(2) {
    width: 20%;
}

.table-tabla-administradordeusuarios thead th:nth-child(3) {
    width: 10%;
}

.table-tabla-administradordeusuarios thead th:nth-child(4) {
    width: 10%;
}

.table-tabla-administradordeusuarios thead th:nth-child(5) {
    width: 20%;
}

.table-tabla-administradordeusuarios thead th:nth-child(6) {
    width: 10%;
}

.table-tabla-administradordeusuarios thead th:nth-child(7) {
    width: 20%;
}

.table-tabla-administradordeusuarios tbody th, .table-tabla-administradordearticulos tbody th {
    height: 40px;
    border-radius: 10px;
}

.btn-ajustes-administradordeusuarios, .btn-ajustes-administradorarticulos {
    background-color: var(--naranja);
    display: inline-block;
    width: 65px;
    height: 25px;
    border-radius: 2px;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 0 0 6px var(--grismasoscuro);
    font-size: 1.1vw;
    text-decoration: none;
    font-family: Poppins Regular;
    letter-spacing: 0.6px;
    color: white;
    padding-top: 5px;
}

.btn-ajustes-administradordeusuarios:first-child {
    background-color: white;
    color: var(--naranja);
}

/* 

page administrador de articulos


*/

.table-tabla-administradordearticulos thead th:nth-child(1) {
    width: 5%;
}

.table-tabla-administradordearticulos thead th:nth-child(2) {
    width: 35%;
}

.table-tabla-administradordearticulos thead th:nth-child(3) {
    width: 15%;
}

.table-tabla-administradordearticulos thead th:nth-child(4) {
    width: 20%;
}

.table-tabla-administradordearticulos thead th:nth-child(5) {
    width: 25%;
}

#main-admnistradordearticulos .btn-ajustes-administradorarticulos {
    width: 100px;
    height: 25px;
    background-color: var(--grismasoscuro);
    color: white;
}

/* 

page agregar usuario

*/

.datosdenuevousuario {
    width: 550px;
    height: 450px;
    margin: auto;
    border: 1px solid var(--grisclaro);
    border-radius: 49px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    font-size: Montserrat SemiBold;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

#titulo-de-informacionPersonal {
    color: var(--azul);
    font-size: 15px;
    font-family: Poppins Regular;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.datosdenuevousuario hr {
    width: 95%;
    border-top: 2px var(--azul) solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-bottom: 10px;
    ;
}

.contenedordeformulario {
    display: grid;
    grid-template-columns: 0.3fr 1.3fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 14px;
    align-items: center;
}

.formularioAgregarusuarios label {
    font-size: 12px;
    font-family: Poppins Regular;
}

.contenedordeformulario input {
    background-color: white;
    border: 2px solid var(--cafe);
    border-radius: 6px;
    opacity: 0.4;
    height: 32px;
}

.contenedor-rol label:first-child {
    display: inline-block;
    width: 85px;
}

.contenedor-rol {
    margin-top: 14px;
    margin-bottom: 14px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 8fr;
}

.rol-user {
    display: inline-block;
    width: 150px;
}

.rol-user input {
    display: inline-block;
}

.subir {
    padding: 5px 10px;
    background: var(--grisoscuro);
    color: var(--naranja);
    border: 1px solid var(--naranja);
    display: inline-block;
    margin: auto;
    width: 100px;
    height: 23px;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subir:hover {
    color: #fff;
    background: var(--azul);
    border: 1px solid var(--grismasoscuro);
}

input[type=file] {
    display: none;
}

#guardar-contacto {
    margin: auto;
}

/*

editar usuario

*/

#foto-usuarios-editar {
    margin: auto;
    width: 180px;
    height: 210px;
    border: 1px var(--azul) solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-editarusuario .datosdenuevousuario {
    height: 650px;
}

/* 

ver articulo


*/

.botones-ajustes-verarticulo {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.botones-ajustes-verarticulo a {
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
}

/*


mi perfil


*/

#main-miperfil .datosdenuevousuario {
    height: 650px;
    margin-bottom: 20px;
}

#main-miperfil .datosdenuevousuario:last-child {
    height: 130px;
}

#main-miperfil .datosdenuevousuario:last-child h2{
    text-align: center;
    font-family: Poppins Regular;
}

#main-miperfil .subir {
    width: 180px;
    margin-top: 20px;
}

/*

    mis productos


    */

#page-misarticulos  .div-btn-cerrar-admin{
    margin-top:20px;
}

#page-misarticulos .contenedordeproductos-pageproductos{
    border: none;
}

/*

pagina nuevo articulo

*/

#page-nuevoarticulo label,#page-nuevoarticulo input,#page-nuevoarticulo textarea {
    font-size: 14px;
}

#page-nuevoarticulo h2{
    font-size: 16px;
    margin-bottom: 5px;
}

/* 


pagina nuevo producto


*/

.informaciondelproducto-pagenuevoproducto{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}

.celda-fotodelproducto-pagenuevoproducto{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    width: 200px;
    height: 250px;
    margin: 4%;
    align-self: center;
    justify-self: center;
    border: 1px var(--grismasoscuro) solid;
    background-size: auto;
    border-radius: 4px;
}