@font-face {
    font-family: "Poppins Regular";
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url(fonts/Montserrat-SemiBold.ttf);
}

:root {
    /* Colors: */
    --unnamed-color-b3a494c9: #B3A494;
    --azul: #102543;
    --naranja: #EC671B;
    --grisoscuro: #E8EDEC;
    --grisclaro: #F5F5F5;
    --grismasoscuro: #707070;
    --unnamed-color-080808: #080808;
    /* Font/text values */
    --unnamed-font-family-poppins: Poppins;
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-13: 13px;
    --unnamed-font-size-15: 15px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-35: 35px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-38: 0.38px;
    --unnamed-line-spacing-20: 20px;
}

body {
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* Banner pagina */

header .banner {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 12vw;
    background-color: var(--grisclaro);
}

#lineader {
    grid-row: 1;
    grid-column: 1;
    padding-top: 5vw;
}

.linea-decorativa {
    border-top: 1px solid #C5C9C8;
    border-bottom: 1px solid #C5C9C8;
    height: 10px;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#lineaizq {
    grid-row: 1;
    grid-column: 3;
    padding-top: 5vw;
}

header .banner .logo {
    grid-row: 1;
    grid-column: 2;
    width: 10vw;
    align-self: center;
    justify-self: center;
}

/* Menu principal  */

#touch, #label-touch {
    display: none;
}

.menu-navegacion {
    display: grid;
    grid-template-columns: 5fr 0.8fr;
    grid-template-rows: 40px;
    background: var(--azul) 0% 0% no-repeat padding-box;
    background-color: var(--azul);
}

.nav-menu {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
}

/* Revisar */

.nav-menu ul li a:hover {
    background-color: var(--naranja);
    width: 30px;
    height: 100%;
}

.menu-navegacion .nav-menu li:first-child {
    margin-left: 75px;
}

.menu-navegacion .nav-menu a {
    display: inline-block;
    margin-right: 55px;
    text-decoration: none;
    font-family: var(--unnamed-font-family-poppins);
    font-size: 12px;
    color: white;
}

.div-btn-iniciar {
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    align-self: center;
}

.btn-iniciar-sesion {
    background-color: var(--naranja);
    width: 12vw;
    height: 34px;
    border-radius: 8px;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-btn-iniciar .btn-iniciar-sesion a {
    display: inline-block;
    font-size: 1.1vw;
    color: white;
    text-decoration: none;
    left: 50%;
    top: 50%;
    font-family: "Montserrat SemiBold";
}

/* diseño responsivo menu  */

@media (max-width: 768px) {
    #touch {
        display: inline;
    }
    #label-touch {
        display: inline;
    }
    .nav-menu li a {
        text-decoration: none;
        color: var(--grismasoscuro);
        font-size: 1vw;
        font-family: Poppins Regular;
    }
    .nav-menu {
        width: 110px;
        background: var(--grismasoscuro);
        margin: 0;
        margin-left: 10px;
        z-index: 10;
    }
    .nav-menu span {
        padding: 4px;
        background: var(--naranja);
        color: white;
        font-family: Poppins Regular;
        /* font-size: 15px; */
        font-size: 1.2em;
        cursor: pointer;
        display: block;
    }
    .nav-menu span::after {
        float: right;
        right: 10%;
    }
    .slide {
        clear: both;
        width: 100%;
        height: 0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }
    .slide li {
        padding: 5px;
    }
    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }
    #touch:checked+.slide {
        height: 140px;
    }
    .menu-navegacion .nav-menu li:first-child {
        margin-left: 0px;
    }
}

/* Fotos portada */

.contenedor-portada {
    background: white 0% 0% no-repeat padding-box;
    border: 10px solid var(--grisclaro);
    box-shadow: 2px 2px 2px #00000029;
    opacity: 1;
    width: 100%;
    height: 35vw;
}

.portada {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 0.62fr 0.04fr 0.34fr;
    grid-template-rows: 28vw;
    margin-top: 1.8vw;
}

.contenedor-foto1 {
    grid-row: 1;
    grid-column: 1;
    box-shadow: 3px 3px 3px #A7A7A7FA;
    border-radius: 7px;
    opacity: 1;
    background-image: url(../Assets/Portada.jpg);
    background-size: 100% auto;
}

.contenedor-foto2 {
    grid-row: 1;
    grid-column: 3;
    box-shadow: 3px 3px 3px #A7A7A7FA;
    border-radius: 7px;
    opacity: 1;
    background-image: url(Assets/elmurcy__152686424_247423920219300_5804258818768295986_n.jpg);
    background-size: 100% auto;
}

/* Productos disponibles */

.contenedor-productosdisponibles {
    width: 100%;
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.productosdisponibles {
    background: var(--azul) 0% 0% no-repeat padding-box;
    border: 0.1px solid var(--grisoscuro);
    box-shadow: 0px 3px 6px #00000029;
    border: 0.3px solid #707070;
    border-radius: 7px;
    margin: 4%;
    height: 32vw;
}

.titulo-productosdisponibles {
    font-family: Poppins Bold;
    font-size: 2.5vw;
    color: var(--naranja);
    text-align: center;
    letter-spacing: 0px;
    color: #EC671B;
    opacity: 1;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.grid-productosdisponibles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 22vw 1vw;
    justify-items: center;
    column-gap: 10px;
    width: 100%;
}

.imagenpd {
    border: 1px solid var(--grisoscuro);
    width: 80%;
    grid-row: 1;
}

.grid-productosdisponibles .nombreproducto {
    display: inline-block;
    grid-row: 2;
    font-family: Poppins Regular;
    font-size: 1.6vw;
    color: var(--grisclaro)
}

/* articulos disponibles */

.contenedor-articulosdisponibles {
    width: 100%;
    background: var(--grisclaro) 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 50px;
    height: auto;
}

.titulo-articulosdisponibles {
    font-family: Poppins Bold;
    font-size: 2.5vw;
    color: var(--grismasoscuro);
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 8px;
    margin-bottom: 8px;
}

.grid-articulosdisponibles {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vw;
    grid-gap: 2%;
}

.imagenapd {
    /* border: 1px black solid; */
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw;
}

.fotodelarticulo {
    border: 1px var(--azul) solid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.contenidodelarticulo {
    border: 3px var(--naranja) solid;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 2px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tituloarticulo {
    font-family: Poppins Medium;
    display: inline-block;
    font-size: 1.2vw;
    color: var(--azul);
    text-align: left;
    margin-top: 2px;
    grid-row: 1;
    grid-column: 1;
}

.btnVermas {
    grid-row: 2;
    grid-column: 1;
    border: 2px var(--naranja) solid;
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    font-size: 1.3vw;
    -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: Poppins Medium;
}

@media (max-width: 768px) {
    .grid-articulosdisponibles {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 3%;
        margin-right: 3%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2%;
    }
    .imagenapd {
        border: 1px black solid;
        display: grid;
        grid-row: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 7vw 7vw 7vw 8vw;
        padding: 20px;
    }
    .fotodelarticulo {
        border: 1px var(--azul) solid;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 60%;
        justify-self: center;
    }
    .contenidodelarticulo {
        border: 3px white solid;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 2px;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        display: grid;
        grid-template-rows: 1fr minmax(3vw, 5vw);
    }
    .tituloarticulo {
        font-family: Poppins Medium;
        display: inline-block;
        font-size: 2vw;
        color: var(--azul);
        text-align: center;
        margin-top: 2px;
        grid-row: 1;
        grid-column: 1;
    }
    .btnVermas {
        grid-row: 2;
        grid-column: 1;
        border: 2px var(--naranja) solid;
        width: 15vw;
        height: 4vw;
        border-radius: 8px;
        font-size: 1.3vw;
        -webkit-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        -moz-box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        box-shadow: 12px 12px 59px -32px rgba(245, 245, 245, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: Poppins Medium;
    }
}

/* pie de pagina */

.piedepagina {
    width: 100%;
    background: var(--grismasoscuro) 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr 1.2fr 0.1fr 1.2fr 0.1fr 1.5fr;
    grid-template-rows: 13vw;
}

#div-logo-footer {
    grid-row: 1;
    grid-column: 2;
    margin: 3px;
    align-self: center;
    justify-self: center;
    color: white;
}

.logo-footer-imagen {
    width: 100%;
}

#div-menu-footer {
    grid-row: 1;
    grid-column: 4;
    margin: 1px;
    font-size: 1vw;
    padding: 1vw;
    color: white;
}

#div-contacto-footer {
    grid-row: 1;
    grid-column: 6;
    margin: 1px;
    font-size: 1vw;
    padding: 1vw;
    color: white;
}

#div-subscripcion {
    grid-row: 1;
    grid-column: 8;
    margin: 1px;
    font-size: 5px;
    padding: 1vw;
    color: white;
}

#correosubcripcion {
    display: inline-block;
    width: 80%;
    height: 3vw;
    border-radius: 5px;
    margin-bottom: 2px;
    color: white;
    background-color: var(--grismasoscuro);
    border: 0.7px solid #F5F5F5;
}

footer h4 {
    font-size: 1.2vw;
    font-family: Montserrat SemiBold;
}

footer ul{
    padding-left:15px;
}

#titulosub-footer {
    margin-bottom: 3px;
    font-family: Poppins Regular;
}

#btn-sub-footer {
    justify-content: center;
    height: 3vw;
    margin-left: 17%;
}

#btn-sub-footer label {
    font-size: 1.3vw;
    font-family: Poppins Regular;
    color: white;
    border: 1px solid var(--naranja);
}

footer li {
    display: inline-block;
    font-family: Poppins Regular;
    font-size: 0.9vw;
    width: 100%;
    color: white;
    padding-top: 0.2vw;
}

#div-menu-footer li a {
    text-decoration: none;
    color: white;
}


a {
    text-decoration: none !important;
}

/*
page productos
*/

.contenedordeproductos-pageproductos {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1;
    border: 1px solid black;
}

/* filtro */

.contenedordeproductos-pageproductos .categorias {
    grid-column: 1;
    grid-row: 1;
    margin: 30px;
    background-color:var(--grismasoscuro);
    width: 18vw;
    padding: 15px;
    padding-top: 5px;
    height: 34vh;
}

/* lista de productos */

.productos-pageproductos {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    border: 1px solid black;
    margin-top: 30px;
}


.label-categorias-pageproductos{
    display: inline-block;
    width: 100%;
}

.categorias h2{
font-family: Poppins Regular;
font-size: 25px;
}

.unproducto-pageproductos {
    width: 220px;
    height: 320px;
    border: 1px solid black;
}