:root {

    /* Colors: */
    --unnamed-color-5b5b5d: #5B5B5D;
    --color-principal: #FAFAFF;
    --color-secundario: #D64933;
    --color-primario: #7C1EAE;

}

body {
    background-color: var(--color-principal);
}

.dark{
    --color-principal: #240934;
}